$Color-White		: #ffffff;
$Color-Bray			: #333333;
$Color-yellow		: #cea525;

$Color-header		: #191818;

$Color-logo-border	: #464646;

$Color-Nav-hover	: #cea525;
$Color-Nav-border	: #323131;
$Color-Nav-text   	: #c8c8c8;
